<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Баланс бюджета</title>
	<link rel = "stylesheet" href = "/static/style.css" type="text/css">
</head>
<body>
	<h1>Бюджет  {{ date }}</h1>
	<main>
	<table>
	{% for a in balance %}<tr>
		{% for b in a  %}<td> {{ b }} </td>{% endfor  %}
	{% endfor  %}</tr>
	
	{% for a in data %}<tr {% if a[1][0] == "-" %} class="negative" {% endif %}>
		{% for b in a  %}<td> {{ b }} </td>{% endfor  %}
    	</tr>
	{% endfor  %}
	</table>
</main>
</body>
</html>