body {
	display:				grid;
	max-width:				800px;
	min-width:				400px;
	grid-template-columns:	1fr;
	padding:				5px;
	margin-top:				0px;

	justify-content:		space-around;
	align-items:			stretch;
	grid-row-gap:			5px;
	grid-column-gap:		5px;

	font-family:			calibri;
	word-break:				break-word;
	color:					#333;

	grid-template-areas:
		"header"
		"field"
		"main"
	;
}

header {
	grid-area:				header;
}

h1, h2 {
	margin:					0;
	font-weight:			300;
}

h1 {
	font-size:				30pt;
}

h2 {
	font-size:				25px;
}

strong {
	display:				block;
}

label {
	display:				block;
	margin-bottom:			5px;
}

#mainForm {
	grid-area:				field;
	display:				inline-flex;
	flex-wrap:				wrap;
}

input {
	width:					100%;
	border-radius:			5px;
	font-size:				20px;
	padding:				5px;
	border:					2px solid #52AE30;
}

main {
	grid-area:				main;
	display:				grid;
	grid-template-columns:	5fr 2fr;
	padding:				0px;
	margin-top:				0px;
	max-width:				7fr;

	justify-content:		space-around;
	align-items:			stretch;
	grid-row-gap:			17px;
	grid-column-gap:		5px;

	border-radius:			5px;
	min-height:				20px;
	margin:					0px;
}

main > p, main > div {
	margin-top:auto;
	margin-bottom: auto;
	border-radius:			5px;
	padding:				5px;
	background-color:		#F5F5F5;
	height:					100%;
}

main > div {
	animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.2;
  }
}

.found {
	background-color:		#FFEB99;
}
