.hided {
	display:					none !important;
}

.wtp-poll-page {
	display:					grid !important;
	grid-template-areas: 
		"q1 q1 q2 q2 q2 q2"
		"q3 q4 q5 q6 q7 q8"
		"q9 q10 q11 q12 q13 q14"
		"q15 q15 q15 q15 q15 q15"
		"q16 q16 q16 q16 q16 q16"
		"q17 q17 q17 q17 q17 q17"
		"q18 q18 q18 q18 q18 q18"
		"q19 q19 q19 q19 q19 q19"
		"q20 q20 q20 q20 q20 q20"
		"q21 q21 q21 q21 q21 q21"

	;
	grid-template-columns:		repeat(6, 1fr); 
	
}

*::before {
	font-size:					12px !important;
	float:						right;
}

div[wtp-part='body'] .wtp-question:nth-child(1) {
	grid-area:					q1;
}

div[wtp-part='body'] .wtp-question:nth-child(2) {
	grid-area:					q2;
}

div[wtp-part='body'] .wtp-question:nth-child(3) {
	grid-area:					q3;
}
div[wtp-part='body'] .wtp-question:nth-child(3)::before {
	content:					"Дата I дня";
}

div[wtp-part='body'] .wtp-question:nth-child(4) {
	grid-area:					q4;
}
div[wtp-part='body'] .wtp-question:nth-child(4)::before {
	content:					"в офисе, часов";
}

div[wtp-part='body'] .wtp-question:nth-child(5) {
	grid-area:					q5;
}
div[wtp-part='body'] .wtp-question:nth-child(5)::before {
	content:					"в поле, часов";
	float:						right;
}

div[wtp-part='body'] .wtp-question:nth-child(6) {
	grid-area:					q6;
}
div[wtp-part='body'] .wtp-question:nth-child(6)::before {
	content:					"II день: дата";
}
div[wtp-part='body'] .wtp-question:nth-child(7) {
	grid-area:					q7;
}
div[wtp-part='body'] .wtp-question:nth-child(7)::before {
	content:					"в офисе, часов";
}
div[wtp-part='body'] .wtp-question:nth-child(8) {
	grid-area:					q8;
}
div[wtp-part='body'] .wtp-question:nth-child(8)::before {
	content:					"в поле, часов";
}

div[wtp-part='body'] .wtp-question:nth-child(9) {
	grid-area:					q9;
}
div[wtp-part='body'] .wtp-question:nth-child(9)::before {
	content:					"III день: дата";
}
div[wtp-part='body'] .wtp-question:nth-child(10) {
	grid-area:					q10;
}
div[wtp-part='body'] .wtp-question:nth-child(10)::before {
	content:					"в офисе, часов";
}
div[wtp-part='body'] .wtp-question:nth-child(11) {
	grid-area:					q11;
}
div[wtp-part='body'] .wtp-question:nth-child(11)::before {
	content:					"в поле, часов";
}

div[wtp-part='body'] .wtp-question:nth-child(12) {
	grid-area:					q12;
}
div[wtp-part='body'] .wtp-question:nth-child(12)::before {
	content:					"IV день: дата";
}
div[wtp-part='body'] .wtp-question:nth-child(13) {
	grid-area:					q13;
}
div[wtp-part='body'] .wtp-question:nth-child(13)::before {
	content:					"в офисе, часов";
}
div[wtp-part='body'] .wtp-question:nth-child(14) {
	grid-area:					q14;
}
div[wtp-part='body'] .wtp-question:nth-child(14)::before {
	content:					"в поле, часов";
}

div[wtp-part='body'] .wtp-question:nth-child(15) {
	grid-area:					q15;
}

div[wtp-part='body'] .wtp-question:nth-child(16) {
	grid-area:					q16;
}

div[wtp-part='body'] .wtp-question:nth-child(17) {
	grid-area:					q17;
}

div[wtp-part='body'] .wtp-question:nth-child(18) {
	grid-area:					q18;
}

div[wtp-part='body'] .wtp-question:nth-child(19) {
	grid-area:					q19;
}

div[wtp-part='body'] .wtp-question:nth-child(20) {
	grid-area:					q20;
}

div[wtp-part='body'] .wtp-question:nth-child(21) {
	grid-area:					q21;
}

div[wtp-part='body'] .wtp-question:nth-child(22) {
	display:					none !important;
}

.ui-spinner .wtp-fld-number {
	width:						30px !important;
}