<!DOCTYPE HTML>
	<head>
		<meta charset="utf-8">
		<title>Компонентный стенд</title>

		<link rel="stylesheet" href="forms/gcsimpleinput/gcsimpleinput.css">
		<link rel="stylesheet" href="forms/gcsimpleinput/gcsimpleinput_gray-theme.css">
		
		<link rel="stylesheet" href="forms/gccontainer/gccontainer.css">
		
		<script src="forms/gcsimpleinput/gcsimpleinput.js"></script>
		<script src="forms/gcsimpleinput/gcsimpleinput-html.js"></script>

		<style>
			body {
				font-family:		Roboto, Calibri;
			}
			
			.GCInput {
				margin-top:			15px;
			}
		</style>
	</head>
	<body>
		<h3>Поля ввода GCInput</h3>

		<div class="GCContainer">
		
			<div class="GCInput"></div>
	
			<div class="GCInput">
				<label class="GCInput__label">
					<div class="GCInput__title">Имя</div>
					<input class="GCInput__input" type="text">
				</label>
			</div>
			
			<div class="GCInput">
				<label class="GCInput__label">
					<div class="GCInput__title">Отчество</div>
					<input class="GCInput__input" type="text">
				</label>
			</div>
		</div>

		<script>
			const 
				elems = [ ...document.querySelectorAll(".GCInput") ],
				inputs = [
					new GCInputH(elems[0]),
					new GCInput(elems[1]),
					new GCInput(elems[2])
				]
			;
		</script>

	</body>
</html>