<!DOCTYPE HTML>
	<head>
		<meta charset="utf-8">
		<title>Компонентный стенд</title>

		<link rel="stylesheet" href="forms/gcsimpleinput/gcsimpleinput.css">
		<link rel="stylesheet" href="forms/gcsimpleinput/gcsimpleinput_gray-theme.css">
		
		<script src="forms/gcsimpleinput/gcsimpleinput.js"></script>

		
		<style>
			body {
				font-family:		Roboto, Calibri;
			}
			
			.GCInput {
				margin-top:			15px;
			}
			

		</style>
	</head>
	<body>
		<h3>Поля ввода GCInput</h3>

		<div class="GCInput">
			<label class="GCInput__label">
				<div class="GCInput__title">Обычное текстовое поле</div>
				<input class="GCInput__input" type="text">
			</label>
		</div>

		<div class="GCNumberInput GCInput">
			<label class="GCInput__label">
				<div class="GCInput__title">Ввод чисел</div>
				<input class="GCInput__input" type="number" max="20" min="10">
			</label>
		</div>
		
		<script>
			const
				input = new GCInput( document.querySelector(".GCInput") )
			;

			//input.titleText = "Введите текст";

		</script>

	</body>
</html>