body {
	font-family: Calibri;
	font-size: 15pt;
	background-color:  rgb(241, 241, 241);
	margin: 0;
}

li {
    margin: 10px 0 10px 0;
}

table {
	border: 1px solid silver;
	border-radius: 15px;
	border-collapse: collapse;
	overflow: hidden;
	max-width: 400px;
	width: 100%;
	background-color: white;
}
td, th {
	border-bottom: 0.5px solid silver;
	padding: 10px 1ch 10px 1.6ch;

}

table:nth-child(1) {
    margin-bottom: 15px;
}

td:nth-child(1), th:nth-child(1) {
	text-align: right;
}

th:nth-child(2) {
	text-align: left;
}

table:nth-child(1) tr:nth-child(1) td {
	background-color: rgb(241, 213, 255);
}

table.accs {
	background-color: rgb(241, 213, 255);    
}

h1 {
	background-color:darkorchid;
	color: white;
	font-size: 18pt;
	position:relative;
	top: 0;
	left: 0;
	margin: 0;
	padding: 10px;
}

main {
	padding: 10px;
}

tr.negative td {
	background-color: rgb(252, 227, 227);
}

tr.negative td:nth-child(2) {
	padding-left: 1ch
}
