body {
	font-family: 'Arial', 'Calibri', 'Roboto';
	font-size: 16px;
	margin: 0;
	width: 100%;
	color: #76777b;
	padding-bottom: 20px;
}


h1 {
	font-size: 24px;
	width: 100%;
	background-color: #278CFF;
	height: 60px;
	line-height: 60px;
	color: white;
	text-indent: 20px;
	margin-top: 0;
}

section {
	width: 380px;
	border-radius: 5px;
	margin-top: 20px;
	margin-left: 5px;
	padding-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content:flex-start;
	align-items: center;
	box-shadow: 7px 7px 32px 2px rgba(0, 0, 0, 0.08);
}

div {
	padding: 10px;
}

input[type='text'] {
	border-radius: 5px;
	height: 20px;
	border: 1px solid #278CFF;
}

input[type='button']{
	position: relative;
	border: 0px;
	color: white;
	border-radius: 5px;
	padding: 5px;
	box-shadow: 7px 7px 32px 2px rgba(0, 0, 0, 0.08);

}
input#go {
	background-color: #278CFF;
	top: 40px;
	left: 182px;
}
input#copy {
	background-color: #4B5B6D;
	top: 40px;
	left: 0px;
}

.wrong {
	border: 1px solid red !important;
}