body {
	font-family:			Roboto, Arial;
	font-size:				20px;
	max-width:				1024px;
	padding:				0 10px 0px 10px;
	margin:					0;
	display:				flex;
	flex-wrap: 				wrap;
	justify-content: 		center;
	align-items:			center;
}

h1 {
	font-size:				25px;
	width:					100%;
	background-color:		#278CFF;
	height:					60px;
	line-height:			60px;
	color:					white;
	margin-left:			-10px;
	padding-left:			15px;
	margin-top:				0;
}

h2 {
	font-size:				24px;
	margin-top:				1em;
	margin-bottom:			0em;
}

li {
	list-style-type:		none;
	margin-bottom:			10px;
}

.off {
	display:				none !important;
}

.dealTerms {
	display:				flex;
	flex-wrap:				wrap;
	align-items:			stretch;
	align-content:			stretch;
}

.dealTerms input[type=radio] {
	display: 				none;
}

.dealTerms table {
	background-color:		#eee;
	border-radius:			10px;
	border:					0px;
	border-collapse:		collapse;
	margin:					10px;
	height:					100%;
	width:					300px;
}

.dealTerms table td {
	text-align:				center;
	border:					0px;
	padding:				0px 10px 0px 5px;
}

.dealTerms table td label {
	display:				block;
	width:					100%;
	line-height:			200%;
	height:					100%;
	padding:				0px 5px 0px 5px;
}

.dealTerms table tr td[rowspan] {
	padding:				0px 10px 0px 10px;
	width:					150px;
}

.dealTerms table tr:first-child td label {
	border-top-right-radius:	10px;
}
.dealTerms table tr:last-child td label {
	border-bottom-right-radius:	10px;
}

.dealTerms table td input:checked+label {
	background-color:		#4577d4;
	color:					white;
}

main input[type=checkbox] {
	margin-left:			-2.25em;
	margin-right:			1em;
}

input:checked + span {
	text-decoration:		line-through;
	color:					#cdc;
}

.panel {
	display:				flex;
	width:					95%;
	position:				sticky;
	background-color:		#E5E5E5;
	top:					0px;
	z-index:				10;
	align-items:			center;
	justify-content:		space-between;
	padding:				0 0 0 8px;
	border-radius:			87px;
}

button.clearIt {
	border:					0px;
	height:					30px;
	border-radius:			87px;
	padding:				0 10px 0 10px;
	background-color:		#FFA03F;
	outline:				none;
	font-size:				13px;
	line-height:			100%;
	color:					white;
	display:				flex;
	align-items:			center;
	justify-content:		space-between;
	width:					150px;
}

button.clearIt > svg {
	zoom:					0.7;
}

button.clearIt:active {
	box-shadow:				0 0 0 rgba(0, 0, 0, 0) !important;
}

.counter {
	font-size:				14px;
	color:					#76777B;
}
.done {
	color:					#060;
}
.info {
	background-color:		#ffffdd;
	border-radius:			5px;
	font-size:				14px;
	padding:				5px;
	color:					#555;
}
