body {
	font-family: 'Arial', 'Calibri', 'Roboto';
	font-size: 16px;
	margin: 0;
	display: flex;
	flex-wrap:	wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 1860px;
	color: #76777b;
	padding-bottom: 20px;
}

.version {
	font-size: 12px;
	position: absolute;
	top: 10px;
	left: 80%;
	color: white;
}

span[data-title] {
	color:  #278cff;
	cursor: help;
/*	border: 1px solid #278cff;
	border-radius: 50%;*/
	font-size: 10px;
	font-weight: 800;
	display: inline-block;
	vertical-align: super;
}

span[data-title]:hover::after {
	content: attr(data-title);
	position: absolute;
	font-size: 12px;
	display: block;
	border-radius: 5px;
  margin: -40px auto auto 0;
	text-align: left;
	padding: 5px;
	color: white;
	height: auto;
	background-color: rgba(39, 140, 255, 1);
	box-shadow: 3px 3px 6px 2px rgba(0, 0, 0, 0.2);
	font-weight: normal;
}

h1 {
	font-size: 24px;
	width: 100%;
	background-color: #278CFF;
	height: 60px;
	line-height: 60px;
	color: white;
	text-indent: 20px;
	margin-top: 0;
}

h2 {
	font-size: 18px;
	color: #4B5B6D;
	margin:	0 0 10px 0;
	width: 100%;
	height: 45px;
	line-height: 45px;
	text-indent: 20px;
	text-overflow: ellipsis;
	overflow: hidden;
	background-color: #CDE5FF;
	box-shadow: 7px 7px 32px 2px rgba(0, 0, 0, 0.04);
	border-radius: 10px 10px 0px 0px;
}

section {
	width: 95%;
	max-width: 1024px;
	box-shadow: 7px 7px 32px 2px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	margin-top: 20px;
	padding-bottom: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

ul {
	width: 90%;
	padding-inline-start: 37px;
 	margin-block-start: 1em;
	margin-block-end: 1em;
	list-style-type: none;
	margin: 5px 0px;
}

li {
	margin-bottom: 10px;
}

main {
	display: flex;
	flex-wrap:	wrap;
	justify-content: center;
	align-items: center;
}

main input[type=checkbox] {
	margin-left: -40px;
	margin-right: 0px;
	width: 40px;
}

input:checked + span {
	text-decoration: line-through;
	color: #c0e0ff;
}

.panel {
	display: flex;
	width: 	95%;
	max-width: 1024px;
	position: sticky;
	background-color: #E5E5E5;
	top: 0px;
	z-index: 10;
	align-items: center;
	justify-content: space-between;
	border-radius: 87px;
}

button.clearIt {
	border: 0px;
	height: 30px;
	border-radius: 87px;
	padding: 0 10px 0 10px;
	background-color: #FFA03F;
	outline: none;
	font-size: 13px;
	line-height: 100%;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 	150px;
}

button.clearIt > svg {
	zoom: 0.7;
}

button.clearIt:active {
	box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
}

.counter {
	font-size: 	13px;
	color: 		#76777B;
	padding: 	0 0 0 8px;
	font-weight: bold;
	text-indent: 15px;
}
.done {
	color: #278cff;
}

.done::after {
	content: " ✔"
}

.info {
	background-color: #F2F5F8;
	border-radius: 4px;
	font-size: 	14px;
	padding: 	15px;
	color: 		#555;
	width:		90%;
	margin-bottom: 10px;
	margin-top: 5px;
	line-height: 21px;
}

.info img {
	margin-top: 10px;
}

.info > img {
	width: 100%;
	border-radius: 4px;
}

.off {
	display: none !important;
}

.dealTerms {
	display: flex;
	flex-wrap: 	wrap;
	align-items: center;
	align-content:stretch;
	justify-content: flex-start;
}

.dealTerms table caption {
	color: #76777B;
	font-size: 16px;
	text-align: left;
	margin-bottom: 5px;
}

.dealTerms input[type=radio] {
	display: none;
}

.dealTerms table {
	font-size: 14px;
	height: 100%;
	max-width: 300px;
	min-width: 200px;
	margin: 10px;
	border-spacing: 0px;
	border: 1px solid #2196F3;
	border-radius:	4px;
}

.dealTerms table td {
	border: 0;
	padding: 0;
	text-align: center;
	color: #278cff;
	width: 50%;
	min-width: 100px;
}


.dealTerms table td label {
	display: block;
	width: 100%;
	line-height: 200%;
	height: 100%;
}

.dealTerms table td input:checked+label {
	background-color: #278cff;
	color: white;
}

.dealTerms table td input:checked+label > span[data-title] {
	color: white !important;
	border-color: white !important;
}

.marked {
	border: 1px solid #278cff;
	color: #278cff;
	padding: 2px;
	font-size: 11px !important;
	font-weight:600;
	border-radius: 4px;
	border:
}
