body {
	font-family:			Calibri, Arial;
	font-size:				20px;
}

h1 {
	font-size:				28px
}

h2 {
	font-size:				24px;
	margin-top:				1em;
	margin-bottom:			0em;
}

li {
	list-style-type:		none;
	margin-top:				10px;
}

input[type=checkbox] {
	margin-left:			-2.25em;
	margin-right:			1em;
}

input:checked + span {
	text-decoration:		line-through;
	color:					#cdc;
}

.panel {
	display:				flex;
	position:				sticky;
	background-color:		white;
	top:					0px;
	z-index:				10;
	align-items:			center;
	justify-content:		space-between;
	box-shadow:				0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	padding:				5px;
	border-radius:			5px;
}

input.clearIt {
	border:					0px;
	border-radius:			5px;
	box-shadow:				0 1px 3px rgba(256,0,0,0.16), 0 1px 3px rgba(256,0,0,0.23);
	background-color:		#fee;
	outline:				none;
	font-size:				14px;
}

input.clearIt:active {
	box-shadow:				0 0 0 rgba(0, 0, 0, 0) !important;
}

.counter {
	font-size:				14px;
	margin-top:				auto;
}

.done {
	color:					#060;
}
